<!--
  Generated template for the PageListnotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div>
  ini halaman list note
</div>

<div>
  <button ion-button primary (click)="navTambahPage()">tambah note</button>
</div>

<div class="note">

  <div class="note_content">
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <ion-row><ion-col><ion-icon name="ionitron" color="primary"></ion-icon></ion-col></ion-row>
        </ion-avatar>
        <h2>{{label_note | uppercase}}</h2>
        <p>{{tanggalNote | date:'medium'}}</p>
      </ion-item>
    </ion-list>
  </div>

<ion-list>
  <ion-item>
    <ion-label floating>Judul note</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Isi note</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>

   <!--   <ion-list>
  <ion-item>
    <ion-label floating>Pilih buah</ion-label>
    <ion-select [(ngModel)]="selectedBuah">
      <ion-option *ngFor="let buahItem of buahArrayObject" [value]="buahItem.value">{{buahItem.text}}</ion-option>>
    </ion-select>
  </ion-item>
</ion-list>
-->


<form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
      </ion-item>
    <ion-item>
    <ion-label floating>Pilih buah</ion-label>
    <ion-select [(ngModel)]="todo.selectedBuah" name="selectedBuah">
      <ion-option *ngFor="let buahItem of buahArrayObject" [value]="buahItem.value">{{buahItem.text}}</ion-option>>
    </ion-select>
  </ion-item>
  <ion-list radio-group [(ngModel)]="todo.gender" name="gender">
  <ion-item>
    <ion-label>Pria</ion-label>
    <ion-radio  value="pria" checked >pria</ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Wanita</ion-label>
    <ion-radio  value="wanita" ></ion-radio>
  </ion-item>
</ion-list>
      <button ion-button type="submit" block>Add Todo</button>
    </form>

</div>

</ion-content>
